.emp-heading{
    color: $primary-color;
    font-weight: bold !important;
    width: 45%;
    margin-bottom: 14px !important;
}

.emp-para{
    color: $black;
    width: 55%;
    font-size: 17px;
    margin-bottom: 14px !important;
}